Repository sujana-kamasany/javacodes, pull requests merged in 2023-10, with the labels that each got.

#151 created program to display Fibonacci series in java
  Fibonacciseries.java
Labels: Hacktoberfest-Accepted

#160 Create triangle.java
  patterns/triangle.java
Labels: Hacktoberfest-Accepted

#162 Revert "Create Inverse_Diamond_pattern.java"
  patterns/Inverse_Diamond_pattern.java
Labels: good first issue, Hacktoberfest-Accepted

#163 Create Trapezium.java
  patterns/Trapezium.java
Labels: good first issue, Hacktoberfest-Accepted

#164 Create Kite_Pattern.java
  patterns/Kite_Pattern.java
Labels: good first issue, Hacktoberfest-Accepted

#158 Create majorityElementHashhmap.java
  Hashmaps/majorityElementHashhmap.java
Labels: good first issue, Hacktoberfest-Accepted

#168 add CheckLeapYear.java
  Basics/CheckLeapYear.java
  Basics/ConcatArray.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#167 AVL tree concept added
  Trees/AVL.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#166 Added code for Singly Linked List
  singlyLinkedList.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#157 Create OperationsLL.java
  Linkedlist/OperationsLL.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#169 Create ReverseString.java
  Strings/ReverseString.java
Labels: good first issue, Hacktoberfest-Accepted

#177 Armstrong Number
  ArmstrongNumber.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#176 modified 5 files
  Basics/NeonnNumber.java
  Basics/ReverseArray.java
  Basics/Self_diving_number.java
  Basics/buterflypattern.java
  Basics/interface.java
  Basics/temp.java
Labels: help wanted, good first issue, Java, Hacktoberfest-Accepted

#175 Create Sort.java
  Chandu_java/Bubblesort.java
  Chandu_java/Sort.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#174 Create Fibonacci.java
  Fibonacci.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#173 add StarPyramid.java
  Basics/StarPyramid.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#172 Create reverseStarPyramidPattern.java
  patterns/reverseStarPyramidPattern.java
Labels: good first issue, Hacktoberfest-Accepted

#171 Create starPyramidPattern.java
  patterns/starPyramidPattern.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#178 Create BuzzNumberChecker.java
  Basics/BuzzNumberChecker.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#183 Create CircularLinkedList.java
  Linkedlist/CircularLinkedList.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#182 feat: added Neon/NeonNumber.java
  Neon/NeonNumber.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#181 add RandomString.java
  Basics/RandomString.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#179 Create ArmstrongNumber.java
  Basics/ArmstrongNumber.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#187 Add Encription and Decription Program
  lcmProgram/EncriptionAndDecription/CipherMenu.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#185 Added code for pronic number. Closes #83
  PronicNumber.java
  sorting/CycleSort.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#184 Create Automorphic_Number.java
  Automorphic_Number.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#193 Create Bubblesort_chandu.java
  sorting/Bubblesort_chandu.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#194 Create mergesort.java
  Chandu_java/mergesort.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#195 Create heapsort.java
  Chandu_java/heapsort.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#196 Create Insertionsorting.java
  Chandu_java/Insertionsorting.java
Labels: good first issue, Hacktoberfest-Accepted

#192 Java solution for rotata image Problem of leetcode
  Rotate Image
Labels: good first issue, Java, Hacktoberfest-Accepted

#190 Java Program to Check Whether an Alphabet is Vowel or Consonant
  CheckAlphabet.java
  VowelOrConsonant.java
Labels: good first issue, Hacktoberfest-Accepted

#197 Create selectionsorting.java
  Chandu_java/selectionsorting.java
Labels: good first issue, Hacktoberfest-Accepted

#198 Create Countingsort.java
  Chandu_java/Countingsort.java
Labels: good first issue, Java, Hacktoberfest-Accepted

#199 Create radixsort.java
  Chandu_java/radixsort.java
Labels: good first issue, Java, Hacktoberfest-Accepted
